body {
    background-image: url(plataforma.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1{
    font-size: 60px;
    color:#ffffff; text-shadow: black 0.1em 0.1em 0.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}

div.diferente {
    background-color: rgb(34, 100, 78);
    color: white;
    position: relative;
    left: 100px;
    
}

p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 30px;
    color:#ffffff; text-shadow: black 0.1em 0.1em 0.2em;
}

img {
    display: block;
    margin: auto;
    width: 600px;
}
